@font-face {
  font-family: "helveticaregular";
  src: url(../fonts/helveticaneue-webfont.woff2);
}
@font-face {
  font-family: "helveticaitalic";
  src: url(../fonts/helveticaneue-italic-webfont.woff2);
}
@font-face {
  font-family: "helveticamedium";
  src: url(../fonts/helveticaneue-medium-webfont.woff2);
}
@font-face {
  font-family: "helveticabold";
  src: url(../fonts/helveticaneue-bold-webfont.woff2);
}

:root {
  --baggrund-farve: #f2f2f2;
  --border-farve: #707070;

  --p-font-size: clamp(0.875rem, 0.8355rem + 0.1754vw, 1rem);
  --h4-font-size: clamp(1rem, 0.9211rem + 0.3509vw, 1.25rem);
  --h3-font-size: clamp(1.25rem, 1.1711rem + 0.3509vw, 1.5rem);
  --h2-font-size: clamp(1.5rem, 1.4211rem + 0.3509vw, 1.75rem);
  --h1-font-size: clamp(1.75rem, 1.5921rem + 0.7018vw, 2.25rem);

  margin: 50px;

  --xxs-spacing: 0.4rem;
  --xs-spacing: 1rem;
  --s-spacing: 1.5rem;
  --m-spacing: 2rem;
  --l-spacing: 3rem;
  --xl-spacing: 4rem;
  --xxl-spacing: 8rem;
}

* {
  margin: 0;
}

body {
  margin-left: auto;
  margin-right: auto;
  background-color: var(--baggrund-farve);
  max-width: 1250px;
}

main {
  margin-inline: auto;
  max-width: 1100px;
}

img {
  width: 100%;
  height: auto;
}

iframe {
  width: 100%;
}

footer {
  display: flex;
  margin-block: var(--m-spacing);
  justify-content: center;
}

.some_icon {
  width: 35px;
  padding: var(--xs-spacing);
  margin-top: auto;
}

p {
  font-family: "helveticaregular";
  font-size: var(--p-font-size);
  line-height: var(--m-spacing);
  overflow-wrap: break-word;
  max-width: 70ch;
}

h1 {
  font-family: "helveticamedium";
  font-size: var(--h1-font-size);
}

h2 {
  font-family: "helveticamedium";
  font-size: var(--h2-font-size);
}

h3 {
  font-family: "helveticaregular";
  font-size: var(--h3-font-size);
}

h4 {
  font-family: "helveticaregular";
  font-size: var(--h4-font-size);
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

a {
  font-family: "helveticaregular";
  text-decoration: none;
  color: black;
}

li {
  padding-bottom: 6vh;
  font-size: var(--h4-font-size);
  margin-inline: 10px;
  min-width: 125px;
}

.header_nav a {
  font-family: "helveticaregular";
  font-size: var(--h4-font-size);
  margin-block: var(--m-spacing);
  margin-left: var(--xxl-spacing);
}

.logo {
  width: 100%;
  height: 100%;
  max-width: 150px;
}

.header_flex {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--xl-spacing);
}

.header_nav {
  align-self: flex-end;
}

.nav-link {
  position: relative;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 2px;
  background-color: currentColor;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 180ms ease-in;
}

.nav-link:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

/* burgermenu */
.toggle-btn {
  background: transparent;
  border: none;
  min-width: 44px;
  min-height: 44px;
  font-size: 1.1rem;
  cursor: pointer;

  /* display: none; Skjul knappen som standard */
  display: none;
}

@media (max-width: 825px) {
  .toggle-btn {
    display: block; /* Vis knappen, når viewporten maksimalt er 825px */
  }

  .header_nav {
    display: contents; /* Fjern ".main-menu"-boksen fra ligningen, når viewporten maksimalt er 825px, men behold børnene, så disse deltager i flex-kontekten */
  }

  .header_nav {
    display: none; /* Fjern menu-listen som standard */
  }

  .header_nav.shown {
    /* Vis menu-listen, når klassen ".shown" er til stede */
    border-top: 3px solid var(--link-farve);
    padding-top: 2rem;
    margin-top: 2rem;
    display: flex;
    flex: 1 1 100%;
    flex-flow: column;
    text-align: center;
    font-size: 2rem;
  }

  /* IKKE BURGERMENU */
  :root {
    margin: var(--xs-spacing);
  }

  .logo {
    max-width: 125px;
  }
}

.hamburger {
  display: block;
  position: relative;
  background-color: black;
}

.hamburger,
.hamburger::before {
  width: 2em;
  height: 4px;
  background: black;

  transition: transform 0.7s cubic-bezier(0, 0.01, 0.24, 1);
}

.hamburger::before {
  content: "";
  position: absolute;
  left: 0;
}

.hamburger::before {
  bottom: 8px;
}

.pressed .hamburger {
  transform: rotate(-45deg);
}

.pressed .hamburger::before {
  /* opacity: 0; */
  transform: rotate(90deg) translate(8px);
}

.toggle-menu-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
}

.toggle-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
  overflow: hidden;
  max-height: 0px;
  transition: max-height 1000ms;
}

.toggle-menu.shown {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
  overflow: hidden;
  max-height: 100px;
  transition: max-height 1000ms;
}

@media (min-width: 825px) {
  .toggle-menu.shown {
    display: none;
  }
}

@media (max-width: 1000px) {
  iframe,
  #card_01 {
    margin-block: var(--xs-spacing);
  }
}
